html,body {
	height: 100%;
}

.row {
	height: 100%;
}

.aside1 {
	height: 100%;
	background-color: #337ab7;
}

.aside2 {
	height: 100%;
}

.aside3 {
	height: 100%;
	overflow: scroll;
}

.title-nav {
	padding-top: 200px; 
	background-color: #fff;
	height: 100%;
}

.nav-pills>li>a {text-align: center;}

.title-list {
	padding-top: 150px;
	height: 100%;
	padding-left: 30px;
	padding-right: 1px;
}

.panel-tab {
	display: none;
}

.title-list li {
	border: 0px;
	background-color: #fff;
}
